body {
  background-color: rgb(237, 219, 219);
}
button {
  width: 160px;
  height: 100px;
  border: none;
  font-size: 48px;
  font-weight: 800;
  font-family: sans-serif;
  color: rgb(159, 19, 103);
  text-shadow: 1px 1px 1px rgb(37, 19, 230);
  background: linear-gradient(to left, lime, cyan);
  box-shadow: 0 0 70px lightgreen, 0 0 70px lightgreen, 0 0 70px lightgreen;
  border-radius: 250px;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Move the button back by half of its width and height */
  cursor: pointer;
  transition: 0.5s;
}

.header {
  font-size: 45px;
  font-family: 'Times New Roman';
  position: relative;
  top: 10vh;
  left: 1vw;
  text-shadow: 2px 2px rgb(13, 13, 86);
}

.solution {
  font-size: 30px;
  font-weight: lighter;
  font-family: sans-serif;
  position: relative;
  top: 10vh;
  left: 11vw;
  text-shadow: 3px 3px lightgrey;
}