body {
  background-color: whitesmoke;
}
.header {
  font-size: 30px;
  font-family: sans-serif;
  position: absolute;
  top: 15vh;
  left: 20vw;
  text-shadow: 5px 5px lightgrey;
}
.solution {
  font-size: 40px;
  font-weight: lighter;
  font-family: sans-serif;
  position: absolute;
  top: 230vh;
  left: 210vw;
  text-shadow: 3px 3px rgb(8, 106, 38);
}